In [2]:
# importing essential libraries

import os
from requests import request
from six.moves import urllib
import pandas as pd

In [3]:
# Download data From source

src_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/concrete/compressive/Concrete_Data.xls'

download_path = os.path.join("dataset","stength")

os.makedirs(download_path,exist_ok=True)

xls_file_path = os.path.join(download_path, "Concrete_Data.xls")

urllib.request.urlretrieve(src_url,xls_file_path)

('dataset/stength/Concrete_Data.xls',
 <http.client.HTTPMessage at 0x7f98268c0ac8>)

In [4]:
# Real Exel file
df = pd.read_excel(xls_file_path)
df

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [5]:
csv_file = os.makedirs("csv_file", exist_ok=True) # making file to store csv file which is converted
save_path = os.getcwd()+"/csv_file/Concrete_Data.csv" # giving a path to store csv file in current directory
df.to_csv(save_path) # converting xls file to csv format

In [6]:
# Now reading csv file adter conversion

df1 = pd.read_csv(save_path)
df1

# Or So these are two ways to read csv file

#pd.read_csv("/home/yash/project/ineuron_internship_projects/ML-project-internship/trials/csv_file/Concrete_Data.csv")

,Unnamed: 0,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...,...
1025,1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 10 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Unnamed: 0                                             1030 non-null   int64
 1   Cement (component 1)(kg in a m^3 mixture)              1030 non-null   float64
 2   Blast Furnace Slag (component 2)(kg in a m^3 mixture)  1030 non-null   float64
 3   Fly Ash (component 3)(kg in a m^3 mixture)             1030 non-null   float64
 4   Water  (component 4)(kg in a m^3 mixture)              1030 non-null   float64
 5   Superplasticizer (component 5)(kg in a m^3 mixture)    1030 non-null   float64
 6   Coarse Aggregate  (component 6)(kg in a m^3 mixture)   1030 non-null   float64
 7   Fine Aggregate (component 7)(kg in a m^3 mixture)      1030 non-null   float64
 8   Age (day)                                              1030 non-null   int64
 9   Concrete compressive strength(MPa, megapascals)        1030 non-null   float64
dtypes: float64(8), int64(2)
memory usage: 80.6 KB

In [8]:
df1 = df1.drop("Unnamed: 0", axis=1)

In [9]:
df1

,Cement (component 1)(kg in a m^3 mixture),Blast Furnace Slag (component 2)(kg in a m^3 mixture),Fly Ash (component 3)(kg in a m^3 mixture),Water (component 4)(kg in a m^3 mixture),Superplasticizer (component 5)(kg in a m^3 mixture),Coarse Aggregate (component 6)(kg in a m^3 mixture),Fine Aggregate (component 7)(kg in a m^3 mixture),Age (day),"Concrete compressive strength(MPa, megapascals)"
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

In [10]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Cement (component 1)(kg in a m^3 mixture)              1030 non-null   float64
 1   Blast Furnace Slag (component 2)(kg in a m^3 mixture)  1030 non-null   float64
 2   Fly Ash (component 3)(kg in a m^3 mixture)             1030 non-null   float64
 3   Water  (component 4)(kg in a m^3 mixture)              1030 non-null   float64
 4   Superplasticizer (component 5)(kg in a m^3 mixture)    1030 non-null   float64
 5   Coarse Aggregate  (component 6)(kg in a m^3 mixture)   1030 non-null   float64
 6   Fine Aggregate (component 7)(kg in a m^3 mixture)      1030 non-null   float64
 7   Age (day)                                              1030 non-null   int64
 8   Concrete compressive strength(MPa, megapascals)        1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [11]:
# Creating the dictionary in order to change naming column indexes

dict = {'Cement (component 1)(kg in a m^3 mixture)':'Cement',
       'Blast Furnace Slag (component 2)(kg in a m^3 mixture)':'Blast_Furnace_Slag',
       'Fly Ash (component 3)(kg in a m^3 mixture)':'Fly_Ash ',
       'Water  (component 4)(kg in a m^3 mixture)':'Water',
       'Superplasticizer (component 5)(kg in a m^3 mixture)':'Superplasticizer',
       'Coarse Aggregate  (component 6)(kg in a m^3 mixture)':'Coarse_Aggregate  ',
       'Fine Aggregate (component 7)(kg in a m^3 mixture)':'Fine_Aggregate', 
       'Age (day)':'Age ',
       'Concrete compressive strength(MPa, megapascals) ':'Concrete_compressive_strength'}

In [12]:
# Now rename the columns of csv file
df1.rename(columns = dict, inplace=True)
df1.to_csv("Concrete_Data.csv",index=False)

In [13]:
pd.read_csv("/home/yash/project/ineuron_internship_projects/ML-project-internship/trials/Concrete_Data.csv")

,Cement,Blast_Furnace_Slag,Fly_Ash,Water,Superplasticizer,Coarse_Aggregate,Fine_Aggregate,Age,Concrete_compressive_strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.986111
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.887366
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.269535
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.052780
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.296075
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.284354
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.178794
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.696601
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.768036
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.401235

Now our file ready to upload no lets upload to database

In [14]:
# Upload file to Data base

from cassandra.auth import PlainTextAuthProvider
from cassandra.cluster import Cluster
import pandas as pd
import csv

In [15]:
# assigning variables

keyspace = 'concrete'

table_name = 'concrete_data'

client_id = "BcJzUqXsAeNSxlNTBJDnOQei"

client_secret = "46kiDTUQC0sqbTd1euoWQ2enSwdLWapN2RO23iK.8+h-G.t5EN4lUo3r5RRGy8S5fWMj1W2tLshRKl02Ohw9wuLx9OlqT2Zt.jRydc,9R2KDBW,E3my75O4FpZTNAKn6"

cloud_config = {
    'secure_connect_bundle':r'/home/yash/project/ineuron_internship_projects/ML-project-internship/secure-connect-concrete-data.zip'
}

In [16]:
auth_provider = PlainTextAuthProvider(client_id, client_secret)
cluster =  Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

In [17]:
file = "/home/yash/project/ineuron_internship_projects/ML-project-internship/trials/Concrete_Data.csv"

In [18]:
# create Table
session.execute("USE {keyspace};".format(keyspace=keyspace))

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Cement                         1030 non-null   float64
 1   Blast_Furnace_Slag             1030 non-null   float64
 2   Fly_Ash                        1030 non-null   float64
 3   Water                          1030 non-null   float64
 4   Superplasticizer               1030 non-null   float64
 5   Coarse_Aggregate               1030 non-null   float64
 6   Fine_Aggregate                 1030 non-null   float64
 7   Age                            1030 non-null   int64
 8   Concrete_compressive_strength  1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [22]:
# Create Table
session.execute('CREATE TABLE {table_name} (Cement float PRIMARY KEY, Blast_Furnace_Slag  float,  Fly_Ash float, Water float, Superplasticizer float, Coarse_Aggregate float, Fine_Aggregate float, Age int, Concrete_compressive_strength float);'.format(table_name=table_name))

In [1]:
#  session.execute("DROP TABLE concrete_data;")

In [ ]:
# session.execute("DESC TABLES;")

In [34]:
# session.execute("USE {keyspace};".format(keyspace=keyspace))

# session.execute("COPY {keyspace}.{table_name} (Cement, Blast_Furnace_Slag , Fly_Ash , Water, Superplasticizer, Coarse_Aggregate, Fine_Aggregate, Age , Concrete_compressive_strength) FROM {file} WITH DELIMITER=',' AND HEADER=TRUE;").format(keyspace=keyspace, table_name=table_name, file=file)

In [97]:
# session.execute('COPY {keyspace}.{table_name} [(Cement, Blast_Furnace_Slag , Fly_Ash , Water, Superplasticizer, Coarse_Aggregate, Fine_Aggregate, Age , Concrete_compressive_strength)]'
# 'FROM {file} | STDIN'
# '[WITH option = 'value' [AND ...]]'
# )

In [33]:
# Insert Data Into Table from CSV to Database TABLE

with open(file, mode='r') as f:
    next(f)
    reader = csv.reader(f, delimiter=',')
    for i in reader:
        data = ','.join([value for value in i])

        session.execute("USE {keyspace};".format(keyspace=keyspace))
        # session.execute('COPY {table_name}(Cement, Blast_Furnace_Slag , Fly_Ash , Water, Superplasticizer, Coarse_Aggregate, Fine_Aggregate, Age , Concrete_compressive_strength)  FROM  {file} | STDIN  VALUES ({data});').format(table_name=table_name,file=file, data=data)

        
        session.execute('INSERT INTO {table_name} (Cement, Blast_Furnace_Slag , Fly_Ash , Water, Superplasticizer, Coarse_Aggregate, Fine_Aggregate, Age , Concrete_compressive_strength) VALUES ({data});'.format(table_name=table_name, data=data))

In [90]:
df = pd.DataFrame()

In [91]:
query = "SELECT * FROM {keyspace}.{table_name};".format(keyspace=keyspace,table_name=table_name)

In [92]:
for row in session.execute(query):
    df = df.append(pd.DataFrame([row]))

In [1]:
df

NameError: name 'df' is not defined

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280 entries, 0 to 0
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   cement                         280 non-null    float64
 1   age                            280 non-null    int64
 2   blast_furnace_slag             280 non-null    float64
 3   coarse_aggregate               280 non-null    float64
 4   concrete_compressive_strength  280 non-null    float64
 5   fine_aggregate                 280 non-null    float64
 6   fly_ash                        280 non-null    float64
 7   superplasticizer               280 non-null    float64
 8   water                          280 non-null    float64
dtypes: float64(8), int64(1)
memory usage: 21.9 KB

In [96]:
session.execute("COPY {keyspace}.{table_name} TO '/home/yash/project/ineuron_internship_projects/ML-project-internship/trials/Database.csv';").format(keyspace=keyspace, table_name=table_name)

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 1:0 no viable alternative at input 'COPY' ([COPY]...)">